{% extends 'OJ/main.html' %}

{% block content %}
<h2>Dashboard</h2>

<div style="width: 75%">
    <p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" 
                style="width: {{ easy_progress }}%" aria-valuenow="{{ easy_progress }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>Easy : {{easy_solve_count}}/{{easy_ques_count}}
    </p>
    <p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
                style="width: {{ medium_progress }}%" aria-valuenow="{{ medium_progress }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>Medium : {{medium_solve_count}}/{{medium_ques_count}}
    </p>
    <p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" 
                style="width: {{ tough_progress }}%" aria-valuenow="{{ tough_progress }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>Tough : {{tough_solve_count}}/{{tough_ques_count}}
    </p>
    <p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" 
                style="width: {{ total_progress }}%" aria-valuenow="{{ total_progress }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>Total : {{total_solve_count}}/{{total_ques_count}}
    </p>
</div>
{% endblock %}