{% extends 'OJ/main.html' %}

{% block content %}
<h2>Problems</h2>

<table id="problem_list" class="table table-striped" style="width:100%">
    <thead style="background-color: rgba(0, 0, 0, 0.395) !important;
        color:white !important;">
        <tr>
            <th style="width:60%"><b>Name</b></th>
            <th style="width:15%"><b>Difficulty</b></th>
            <th style="width:15%"><b>Status</b></th>
            <th style="width:10%"><b>Score</b></th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
        <tr>
            <td><a href="{{problem.id}}"><b>{{problem.name}}</b></a></td>
            <td>{{problem.difficulty}}</td>
            <td>{{problem.solved_status}}</td>
            <td>{{problem.score}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}