{% extends 'OJ/main.html' %}

{% block content %}
<h2>Problems</h2>

<table id="problem_list" class="table table-striped" style="width:100%">
    <thead style="background-color: rgba(0, 0, 0, 0.395) !important;
        color:white !important;">
        <tr>
            <th style="width:60%"><b>Name</b></th>
            <th style="width:15%"><b>Difficulty</b></th>
            <th style="width:15%"><b>Status</b></th>
            <th style="width:10%"><b>Score</b></th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
        <tr>
            <td><a style="color: black; text-decoration: none"
                    href="{{problem.id}}"><b>{{problem.name}}</b></a></td>
            <td>
                {% if problem.difficulty == "Easy" %}
                <b style="color: darkgoldenrod;">{{problem.difficulty}}</b>
                {% elif problem.difficulty == "Medium" %}
                <b style="color: darkblue;">{{problem.difficulty}}</b>
                {% else %}
                <b style="color: red;">{{problem.difficulty}}</b>
                {% endif %}
            </td>
            <td>
                {% if problem.solved_status == "Unsolved" %}
                <b style="color: red;">{{problem.solved_status}}</b>
                {% else %}
                <b style="color: darkgoldenrod;">{{problem.solved_status}}</b>
                {% endif %}
            </td>
            <td>{{problem.score}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}