{% extends 'OJ/main.html' %}
{% block content %}
<div style="width: 100%; overflow: auto;">
    <div style="float:left; width: 50%; height: 650px; overflow: auto;">
        <h4>{{problem.name}}</h4>
        <b>Difficulty:</b>
        {% if problem.difficulty == "Easy" %}
        <b style="color: darkgoldenrod;">{{problem.difficulty}}</b>
        {% elif problem.difficulty == "Medium" %}
        <b style="color: darkblue;">{{problem.difficulty}}</b>
        {% else %}
        <b style="color: red;">{{problem.difficulty}}</b>
        {% endif %}

        {% autoescape off %}
        <p>{{problem.description}}</p>
        {% endautoescape %}
    </div>
    <div style="float:right; width: 49%;">
        <form action="{% url 'verdict' problem.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <div style="width: 20%;">
                    <label>Select Language</label>
                    <select name="language" id="language" class="form-select">
                        <option value="C++">C++</option>
                        <option value="C">C</option>
                        <option value="Python3">Python3</option>
                        <option value="Python2">Python2</option>
                        <option value="Java">Java</option>
                    </select>
                </div>
                <br>
                <b>WARNING:</b> If using Java, use <b>Main</b> as the class name.
                <div style="overflow: auto;">
                    <textarea name="user_code" class="form-control"
                        data-editor="C++" data-gutter="1" rows="20" spellcheck="false"></textarea>
                </div>
                <br>
                <div style="text-align:left;">
                    <button id="submit" type="submit" name="submit"">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div style="clear:both"></div>
<br>
{% endblock %}