{% extends 'OJ/main.html' %}
{% load custom_filters %}
{% block content %}
<div style="max-width: 100%; overflow: auto;">
    <div style="float:left; max-width: 50%; height: 650px; overflow: auto;">
        <h4>{{problem.name}}</h4>
        <b>Difficulty:</b>
        {% if problem.difficulty == "Easy" %}
        <b style="color: darkgoldenrod;">{{problem.difficulty}}</b>
        {% elif problem.difficulty == "Medium" %}
        <b style="color: darkblue;">{{problem.difficulty}}</b>
        {% else %}
        <b style="color: red;">{{problem.difficulty}}</b>
        {% endif %}

        {% autoescape off %}
        <p>{{problem.description}}</p>
        {% endautoescape %}
    </div>
    <div style="float:right; max-width: 49%;">
        <form action="{% url 'verdict' problem.name|replace_space %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <div>
                    <div style="float:left; max-width: 20%;">
                        <label><b>Select Language</b></label>
                        <select name="language" id="language" class="form-select" onchange="update_editor()">
                            <option value="C++">C++</option>
                            <option value="C">C</option>
                            <option value="Python3">Python3</option>
                            <!-- <option value="Python2">Python2</option> -->
                            <option value="Java">Java</option>
                        </select>
                    </div>
                    <div style="float:right; margin-right: 15px; max-width: 20%;">
                        <label><b>Select Theme</b></label>
                        <select name="theme" id="theme" class="form-select" onchange="update_theme()">
                            <option value="terminal">Terminal</option>
                            <option value="twilight">Twilight</option>
                            <option value="monokai">Monokai</option>
                            <option value="vibrant_ink">Vibrant Ink</option>
                            <option value="xcode">Xcode</option>
                            <option value="solarized_light">Solarized Light</option>
                            <option value="crimson_editor">Crimson</option>
                            <option value="dawn">Dawn</option>
                            <option value="eclipse">Eclipse</option>
                            <option value="solarized_dark">Solarized Dark</option>
                            <option value="cobalt">Cobalt</option>
                            <option value="kuroir">Kuroir</option>
                            <option value="gob">Green on Black</option>
                        </select>
                    </div>
                </div>  
                <br><br><br><br>
                <b>WARNING:</b> If using Java, use <b>Main</b> as the class name.
                <div id="editor-div" style="overflow: auto;">
                    <textarea data-editor="terminal" name="user_code" cols="85" rows="20" id="editor"></textarea>
                </div>
                <br>
                <div style="text-align:right; margin-right: 27px;">
                    <button id="submit" type="submit" name="submit"">Submit</button>
                </div>
                <br>
            </fieldset>
        </form>
    </div>
</div>
<div style="clear:both"></div>
<br>
{% endblock %}
