{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Geek Judge
        </title>
	<link rel="icon" href="{% static 'images/favicon.ico' %}"/>
        <link href="http://fonts.cdnfonts.com/css/gistesy" rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
        <link rel="stylesheet" href="{% static '/css/main.css' %}">
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                {% include 'OJ/navbar.html' %}
                <div class="block_class">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <footer id="footer">
                <!-- Grid container -->
                <div class="container p-4 pb-0">
                    <!-- Section: Links -->
                    <section class="mb-2 text-center">
                        <!-- Help Center -->
                        <a href="#!" class="text-white"> Help Center </a>
                        |
                        <!-- Terms -->
                        <a href="#!" class="text-white"> Terms </a>
                        |
                        <!-- Privacy Policy -->
                        <a href="#!" class="text-white"> Privacy Policy </a>
                        |
                        <!-- About -->
                        <a href="#!" class="text-white"> About </a>
                    </section>
                    <!-- Section: Links -->

                    <hr class="mb-2" />

                    <!-- Section: Social media -->
                    <section class="mb-2 text-center">
                        <!-- Email -->
                        <a href="mailto:rajatsingh0805@gmail.com">
                            <img src="{% static 'images/email.png' %}"
                                width="40" height="40" /></a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/rajat_singh0805/"
                            target="_blank">
                            <img src="{% static 'images/twitter.png' %}"
                                width="40" height="40" /></a>

                        <!-- Instagram -->
                        <a href="https://www.instagram.com/rajat_singh0805/"
                            target="_blank">
                            <img src="{% static 'images/instagram.png' %}"
                                width="40" height="40" /></a>

                        <!-- Linkedin -->
                        <a href="https://www.linkedin.com/in/rajat-singh-0805/"
                            target="_blank">
                            <img src="{% static 'images/linkedIn.png' %}"
                                width="40" height="40" /></a>

                        <!-- Github -->
                        <a href="https://github.com/RajatSingh08/"
                            target="_blank">
                            <img src="{% static 'images/github.png' %}"
                                width="40" height="40" /></a>
                    </section>
                    <!-- Section: Social media -->

                    <hr class="mb-2" />

                    <!-- Section: Copyright -->
                    <section class="mb-2 text-center">
                        © 2022 Copyright: RajatSingh08
                    </section>
                    <!-- Section: Copyright -->
                </div>
                <!-- Grid container -->
            </footer>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{% static '/javascript/sort.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script
        src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="{% static '/ace/ace.js' %}"></script>
    <script src="{% static '/javascript/editor.js' %}"></script>
</html>
