{% load static %}
<style>
    .hello-msg{
      font-size: 18px;
      color: #fff;
      margin-right: 20px;
    }
    
    @font-face {
        font-family: Gistesy;
        src: url(static/fonts/Gistesy.ttf) format(truetype);
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #000000;">
    <a class="navbar-brand" href="/"><b style="font-family: 'Gistesy'; font-size: xx-large;">Geek Judge</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/problems">Problems</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/all_submissions">Submissions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>
        </ul>
    </div>
    <span class="hello-msg">Hello,
        <a class="hello-msg" style="color: greenyellow"
            href="{% url 'account' %}">
            {% if request.user.profile_pic %}
            <img src="{{request.user.profile_pic.url}}" width="40" height="40" />
            {% else %}
            <img src="{% static 'images/defaultpic.png' %}" width="40" height="40" />
            {% endif %}
            {{request.user}}
        </a>
    </span>
    <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
</nav>
