{% extends 'OJ/main.html' %}
{% block content %}
<div style="width: 100%;">
    <div style="float:left; width: 50%">
        <h4>{{problem.name}}</h4>
        <b>Difficulty:</b>
        {% if problem.difficulty == "Easy" %}
        <b style="color: darkgoldenrod;">{{problem.difficulty}}</b>
        {% elif problem.difficulty == "Medium" %}
        <b style="color: darkblue;">{{problem.difficulty}}</b>
        {% else %}
        <b style="color: red;">{{problem.difficulty}}</b>
        {% endif %}

        {% autoescape off %}
        <p>{{problem.description}}</p>
        {% endautoescape %}
    </div>
    <div style="float:right; width: 50%;">
        <form action="{% url 'verdict' problem.id %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <div class="form-group" style="width: 20%;">
                    <label>Select Language</label>
                    <select name="language" id="language" class="form-select">
                        <option value="C++">C++</option>
                        <option value="C">C</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="user_code" class="form-control"
                        data-editor="xml" data-gutter="1" rows="20"></textarea>
                </div>
                <div class="form-group" style="text-align:right; margin-right: 30px;">
                    <input type="file" name="codefile">
                    <button id="submit" type="submit" name="submit"">Submit</button>
                    {% if invalid_file != '' %}
                    <p id="invalid_file">{{invalid_file}}</p>
                    {% endif %}
                    <p><strong>NOTE: Submit only .cpp or .c file</strong></p>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div style="clear:both"></div>
<br>
{% endblock %}